/* You can add global styles to this file, and also import other style files */

@import 'variables';

html {
  background-color: $background-color-living;

  body {
    background-color: $background-color-living;

    nav {
      background-color: $background-color-living !important;
    }
  }
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';




.shadow {
  background-color: $background-color-shadow;

  body {
    background-color: $background-color-shadow;

    nav {
      background-color: $background-color-shadow !important;
    }
  }
}
.elements {
  background-color: $background-color-elements;

  body {
    background-color: $background-color-elements;

    nav {
      background-color: $background-color-elements !important;
    }
  }
}
.energy {
  background-color: $background-color-energy;

  body {
    background-color: $background-color-energy;

    nav {
      background-color: $background-color-energy !important;
    }
  }
}
.tantra {
  background-color: $background-color-tantra;

  body {
    background-color: $background-color-tantra;

    nav {
      background-color: $background-color-tantra !important;
    }
  }
}

a {
  color: #F57C00;
}
a:hover {
  color: #D95D39;
}
button.mybtn{
  color: white;
  background-color: #4CAF50;
  border-color: #4CAF50;
}
button.mybtn:hover{
  color: white;
  background-color: #388E3C;
  border-color: #388E3C;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}
h1 {
  font-size:32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
}
p.bold {
  font-weight: bold;
}
p.citation {
  font-style: italic;
}
.nav .nav-divider {
  background-color: #464646
}
img.personal-photo {
  padding: 0px;
  margin-left: 5px;
  margin-bottom: 5px;
  display: block;
  float:right;
}
.center-cropped {
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.basic-text-padding {
  padding: 7px;
}

.flex-footer-container {
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  align-self: center;
}
body {
  color: #2E3B4E;
}
.letter-colored {
  color: #D95D39;
}

/*.text_color { color: #2E3B4E; }*/
/*.text_color { color: #D95D39; }*/
/*.text_color { color: #4CAF50; }*/
/*.text_color { color: #388E3C; }*/
/*.text_color { color: #F57C00; }*/
/*.text_color { color: #BDBDBD; }*/
/*.text_color { color: #FFFFFF; }*/
/*link_color: "#1E88E5",     */
/*hover_link_color: "#D95D39", # Vibrant orange for hover effects*/
/*button_color: "#4CAF50",     # Earthy green for buttons (consistent with the theme)*/
/*button_hover_color": "#388E3C", # Darker green for hover effect*/
/*"accent_color": "#F57C00",      # Orange accent for highlights or call-to-actions*/
/*"border_color": "#BDBDBD",      # Soft gray for subtle borders*/
/*"background_color": "#FFFFFF"   # White for the page background*/
/*}*/