/* You can add global styles to this file, and also import other style files */

$background-color-living: aliceblue;
$background-color-shadow: gainsboro;
$background-color-elements: mediumaquamarine;
$background-color-tantra: lightcoral;
$background-color-energy: bisque;

$widescreen-max-width: 950px;