/* You can add global styles to this file, and also import other style files */
$widescreen-max-width: 950px;

$background-color-living: #FAF8F5;
$background-color-dark-living: #EDE8E3;
$primary-color-living: #2E2E2E;
$accent-color-living: #5E5E5E;

$background-color-elements: #E5F0E7;
$background-color-dark-elements: #2E4633;
$primary-color-elements: #4E8C5A;
$accent-color-elements: #7DB892;

$background-color-tantra: #F9E3E1;
$background-color-dark-tantra: #B23A48;
$primary-color-tantra: #B23A48;
$accent-color-tantra: #601A22;

$background-color-energy: #FFF1DA;
$background-color-dark-energy: #7C4A0B;
$primary-color-energy: #E8A43D;
$accent-color-energy: #FFD166;

$background-color-shadow: #E3E3E3;
$background-color-dark-shadow: #2B2B2B;
$primary-color-shadow: #585858;
$accent-color-shadow: #8A8C91;